
#card1{
    box-shadow: 0 0 29px 0 green;
}
#card2{
    box-shadow: 0 0 29px 0 red;
}
.dropdown-item{
    color: black;
}
#navlink1,#navlink2,#navlink3,#navlink4,#navlink5{
    color: white;
    font-weight: 719;
}
#ddd1,#ddd2{
background: white;
height:4px ;
}
#dropdownmenu{
    margin-top: 38px;
    margin-left: -18px;
    border-radius: 10px;
}
#navbrand{
    font-weight: 650;
    letter-spacing: 1PX;
    font-size: 20PX;

}
#dem{
    font-weight: 700;
    font-size: 22px;
}

#promise{
    color: rgba(83, 2, 2, 0.959);
    padding: 50px;
    border-radius: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 900;
font-size: 15px;
}
